.item-input-row {
  display: flex;
  gap: 10px;
  /* Add spacing between fields */
  align-items: center;
  justify-content: center;
  flex-direction: row;

  .submit-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .submit-button:hover {
    background-color: #088d0f;
  }
}
