body {
  margin: 0;
  height: 100vh;
}

.layout-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;

  .nav-header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    color: white;
    padding: 15px;
  }

  .nav-links {
    display: inline-flex;
    gap: 1.5rem;
  }

  .link-button {
    color: white;
    text-decoration: none;
    padding: 10px 18px;
    border: 2px solid transparent;
    border-radius: 4px;
  }

  .link-button:hover {
    cursor: pointer;
    border-color: #fff;
  }

  .main-content {
    flex: 1;
    overflow: hidden;
  }
}
