.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

header {
    background-color: #282c34;
    color: white;
    padding: 15px;

    
}

nav {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    font-weight: bold;
}

main {
    flex-grow: 1;
    padding:20px;
    margin: 0 auto;
}

footer {
    background-color: #282c34;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    margin-top: auto;
}

@Media (max-width: 1023px) {
    header {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
}

@media (min-width: 1024px) {
    .layout-container{
        flex-direction: row;
    }

    header {
        flex-direction: column;
        display: flex;
        align-items:center;
    }

    nav {
        flex-direction: column;
    }
}