.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;

  .nav-header {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    color: white;
    padding: 15px;
  }

  .nav-links {
    display: inline-flex;
    gap: 1.5rem;
  }

  .link-button {
    color: white;
    text-decoration: none;
    padding: 10px 18px;
    border: 2px solid transparent;
    border-radius: 4px;
  }

  .link-button:hover {
    cursor: pointer;
    border-color: #fff;
  }

  .main-content {}

  footer {
    background-color: #282c34;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    margin-top: auto;
  }
}
