.input-field-item-name {
	min-width: 150px;
}

.input-field-item-price,
.input-field-item-count {
	min-width: 50px;
}

input {
	width: 100%;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 14px;
}
