.user-manager-container {
	display: flex;
	flex-direction: column;
	gap: 4px;
	align-items: center;
}

.users-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin-right: auto;
}
